body {
    background-color: #171717; /* Dark background */
    color: #FFFFFF; /* White text */
}

.container {
    padding: 5px;
}

h2, h3 {
    color: #00FFD8; /* Neon Blue */
    margin-bottom: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #2D2D2D; /* Dark Gray card background */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.5); /* White shadow on hover */
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 15px;
    background-color: #2D2D2D; /* Dark Gray card background */
}

.card-title a {
    color: #FFFFFF; /* White text for card titles */
    text-decoration: none;
}

.card-title a:hover {
    color: #00FFD8; /* Neon Blue on hover */
}

.card-text {
    color: #BEBEBE; /* Light Gray text */
}

.btn {
    background-color: #00FFD8; /* Neon Blue button background */
    color: #000000; /* Black text */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #000000; /* Black background on hover */
    color: #00FFD8; /* Neon Blue text on hover */
    border: 2px solid #00FFD8; /* Neon Blue border on hover */
}

header {
    background-color: #1A1A1A !important; /* Slightly darker background for the header */
}

footer {
    background-color: #1A1A1A !important; /* Slightly darker background for the footer */
}

.card-subtitle.mb-2.text {
    color: #02a7b3; /* Bright Neon Blue for subtitles */
}

.star {
    font-size: 40px !important;
    color: gray !important;
    cursor: pointer;
}

.star .selected {
    color: gold !important;
}

.star:hover {
    color: gold !important;
}
