<footer class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-0.5 mt-4 border-top" style="position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; z-index: 1000;">
	<div class="container">
	  <div class="row justify-content-center"> <!-- Center the content -->
		<div class="col-md-3 mb-2 mb-md-0 text-center"> <!-- Center the text within this column -->
		  <h5 class="mb-0">Contact Us</h5>
		</div>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
		  <li><a href="#" class="nav-link px-2">Privacy Policy</a></li>
		  <li><a href="#" class="nav-link px-2">Terms of Service</a></li>
		</ul>

		<div class="col-md-3 text-center"> <!-- Center the text within this column -->
		  <h5 class="mb-0">&copy; eShop Planet </h5>
		</div>
	  </div>
	</div>
  </footer>
